body{
background-color: mediumseagreen;
font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    text-align: right;
    color: white;
}
.changeText{
    text-align:center 
}
.changeTextLeft{
    text-align: left;
}
.changeTextRight{
    text-align: right;
}
.changeTextJustificationOne {
    text-align: justify;
}
.changeTextJustificationTwo {
    text-align: justify;
}
.changeTextCenter {
    text-align: center;
}
.coverTitle {
    width: 100pc;
}
.firstTextImage{
    width: 20pc;
    display: block;/**/
    margin-left: auto; /**/
    margin-right: auto/**/;
}
.secondTextImage{
    width: 20pc;
    display: block;/**/
    margin-left: auto; /**/
    margin-right: auto/**/;
} 
.thirdTextImage{
   width: 20pc;
    display: block;/**/
    margin-left: auto; /**/
    margin-right: auto/**/; 
}
.fourthTextImage{
  width: 20pc;
    display: block;/**/
    margin-left: auto; /**/
    margin-right: auto/**/;  
}
.fifthTextImage{
    width: 20pc;
    display: block;/**/
    margin-left: auto; /**/
    margin-right: auto/**/;   
}
.sixthTextImage{
   width: 30pc;
    display: block;/**/
    margin-left: auto; /**/
    margin-right: auto/**/;   
} 
